# Ambiente virtual
venv/
.venv/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# Arquivos de ambiente
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak